# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script




# ----------------------
# Production Server
# ----------------------
gunicorn
